@import 'src/assets/styles/animations';
@import 'src/assets/styles/variables';

.wrapper {
	position: relative;
	button {
		cursor: pointer;
		border: none;
		outline: none;
		background-color: transparent;
	}
	> button {
		font-size: 30px;
		> svg {
			fill: #fff;
		}
		> svg > path {
			fill: #fff;
		}
	}
	.menu {
		font-size: 14px;

		position: absolute;
		top: calc(100% + 8px);
		right: 0;
		display: none;
		min-width: 116px;
		padding: 10px 12px;
		animation: opacity 0.4s;
		border-radius: 10px 0 10px 10px;
		background-color: #fff;
		box-shadow: $bx-16;
		&.show {
			display: block;
		}
		> ul {
			list-style-type: none;
			li {
				color: #000;
			}
			a {
				transition: color 0.2 ease;
				text-decoration: none;

				color: #000;
				&:hover,
				&:active {
					margin: 4px 0;

					color: $accent;
				}
			}
		}
	}
}
