@import 'src/assets/styles/variables';

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&.profile {
		> .count .heading {
			color: #775f5f;
		}
	}

	> .count {
		font-size: 24px;
		width: 27%;
		text-align: center;

		@media (max-width: $mobile) {
			font-size: 18px;
		}

		.heading {
			text-transform: capitalize;
			color: $dark-accent;
		}

		.number {
			font-weight: bold;
			color: #fff;
		}
	}
}
