@import './variables';

* {
	font-family: $default-font;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	letter-spacing: 0.5px;
	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	&:focus {
		outline: none;
	}
}

*::-webkit-input-placeholder {
	opacity: 1;
	color: #c0c0c0;
}
*:-moz-placeholder {
	opacity: 1;
	color: #c0c0c0;
}

*::-moz-placeholder {
	opacity: 1;
	color: #c0c0c0;
}

*:-ms-input-placeholder {
	opacity: 1;
	color: #c0c0c0;
}

html,
body {
	height: 100%;
}

body {
	font-size: 20px;
	line-height: 1.65;
	position: relative;
	overflow-x: hidden;
	min-width: 320px;
	margin: 0;
	padding: 0;
	color: #fff;
	background-color: $black;
}

img {
	max-width: 100%;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

#root {
	height: 100%;
}

.dark-link {
	display: block;
	width: 100%;
	margin-bottom: 0.5rem;
	transition: color 0.3s ease;
	text-align: right;
	text-decoration: none;
	color: $dark-accent;
	&:hover {
		color: darken($accent, 10%);
	}
}

.wrapper-inner-page {
	width: 100%;
	max-width: 560px;
	margin: 0 auto;
	padding: 40px 30px;
	text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	margin: 0;
	-webkit-appearance: none;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.error {
	font-size: 1rem;
	color: #8d2b3d;
}

.select2-selection {
	&__control {
		font-size: 18px;
		width: 100%;
		min-height: 48px !important;
		margin-bottom: 2rem;
		cursor: pointer !important;
		color: $white;
		border: 1px solid transparent !important;
		border-radius: 10px !important;
		background-color: $dark-accent !important;
		&--is-focused {
			border-color: transparent !important;
			box-shadow: 0 0 0 1px rgba($accent, 0.3) !important;
		}
	}

	&__menu {
		border-radius: 10px !important;
		background-color: $dark-accent !important;
		&-list {
			padding: 0 !important;
			border-radius: 10px !important;
		}

		&-notice {
			color: #946e86 !important;
		}
	}

	&__option {
		&--is-focused {
			background-color: darken($dark-accent, 7%) !important;
		}
		&--is-selected {
			background-color: darken($dark-accent, 8%) !important;
		}
	}

	&__indicator,
	&__indicator:hover {
		color: $white !important;
	}

	&__placeholder {
		margin-left: 6px !important;
		text-align: left;
		color: #946e86 !important;
	}

	&__single-value {
		color: $white !important;
	}

	&__multi-value {
		border-radius: 6px !important;
		background-color: lighten($dark-accent, 10%) !important;
		&__label {
			color: $white !important;
		}

		&__remove:hover {
			color: $white !important;
			background-color: #8b2557 !important;
		}
	}

	&__input {
		color: $white !important;
	}
}
